.cucumber-img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 40px auto;
    border: 5px solid #4CAF50;
    border-radius: 20px;
    object-fit: contain;
}

.dumbs-img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 40px auto;
    border: 5px solid #951100;
    border-radius: 20px;
    object-fit: contain;
}

.choko-img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 40px auto;
    border: 5px solid #4d2310;
    border-radius: 20px;
    object-fit: contain;
}

.fly-img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 40px auto;
    border: 5px solid #000000;
    border-radius: 20px;
    object-fit: contain;
}
